name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Run Cargo Check
        uses: actions-rs/cargo@v1
        with:
          command: check

      - name: Rust Format Check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: Clippy Lint Check
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # needed to post all lints as annotations for the pushed commit
          args: --all-features

      - name: Release Build
        run: |
          docker build -t xunit-struct:latest .
